logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
debug/bundle.js
debug/bundle.js.map
dist/**/*.js
dist/**/*.js.map
engine
engine2
games/**/*.json.gz
games/**/*.json
games/**/*.jsonl
/env.json

# Local Battlesnake CLI and generated browser output
/battlesnake
/public/
